.gridContainer {
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    'box1 box2 box3 box3 box3 box3 box3'
    'box1 box2 .    .     .     .    .'
    'box1 box2 box4 box5 box6 box7 box8'
    'box1 box2 .    .     .     .    .'
    'box1 box2 box9 box9 box9 box9 box9';
  column-gap: 1rem;
  .box1 {
    grid-area: box1;
    background: linear-gradient(177.49deg, #2082e9 2.1%, #9900ff 80.43%);
    border-radius: 17px;
  }
  .box2 {
    grid-area: box2;
  }
  .box3 {
    grid-area: box3;
    background: linear-gradient(177.49deg, #2082e9 2.1%, #9900ff 80.43%);
    border-radius: 17px;
  }
  .box4 {
    border: 1px solid white;
    background-color: #000063;
    grid-area: box4;
    border-radius: 17px;
    .box4Container {
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .box5 {
    border: 1px solid white;
    grid-area: box5;
    background: linear-gradient(177.49deg, #2082e9 2.1%, #9900ff 80.43%);
    border-radius: 17px;
  }
  .box6 {
    border: 1px solid white;
    grid-area: box6;
    background: linear-gradient(177.49deg, #2082e9 2.1%, #9900ff 80.43%);
    border-radius: 17px;
  }
  .box7 {
    border: 1px solid white;
    grid-area: box7;
    background: linear-gradient(177.49deg, #2082e9 2.1%, #9900ff 80.43%);
    border-radius: 17px;
  }
  .box8 {
    border: 1px solid white;
    grid-area: box8;
    background: linear-gradient(177.49deg, #2082e9 2.1%, #9900ff 80.43%);
    border-radius: 17px;
  }
  .box9 {
    grid-area: box9;
    background: linear-gradient(177.49deg, #2082e9 2.1%, #9900ff 80.43%);
    border-radius: 17px;
  }
  //   .box1 {
  //     grid-row: 1 / 6;
  //     grid-column: 1 / 2;
  //     background: linear-gradient(177.49deg, #2082e9 2.1%, #9900ff 80.43%);
  //     border-radius: 17px;
  //   }
  //   .box2 {
  //     grid-row: 1 / 6;
  //     grid-column: 2 / 3;
  //     // background: linear-gradient(177.49deg, #2082e9 2.1%, #9900ff 80.43%);
  //     // border-radius: 17px;
  //   }
  //   .box3 {
  //     grid-column: 3 / 8;
  //     background-image: linear-gradient(95.45deg, #2082e9 20.48%, #9900ff 75.82%);
  //     border-radius: 14px;
  //     text-transform: uppercase;
  //     font-weight: 700;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //   }
}
