.gridContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    'box1 box2a box3 box3 box3 box3 box3'
    'box1 .     a1   a2   a3   a4   a5  '
    'box1 .     box4 box5 box6 box7 box8'
    'box1 .     .    a6   .    a7   a8  '
    'box1 box2b box9 box9 box9 box9 box9';

  column-gap: 1%;
  .box1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    grid-area: box1;
    background: linear-gradient(177.49deg, #2082e9 2.1%, #9f66c5 80.43%);
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
  }

  .box2a {
    grid-area: box2a;
    @media (max-width: 520px) {
      span {
        font-size: 2vw;
      }
    }
  }

  .box2b {
    grid-area: box2b;
    @media (max-width: 520px) {
      span {
        font-size: 2vw;
      }
    }
  }
  .box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: box3;
    background: linear-gradient(to right, #2082e9 2.1%, #9900ff 80.43%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
    border-radius: 25px;
  }
  .a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    position: relative;
    span {
      position: absolute;
      left: 60%;
    }
    @media (max-width: 520px) {
      span {
        font-size: 2vw;
        position: absolute;
        left: 60%;
      }
    }
  }
  .a1 {
    grid-area: a1;
  }
  .a2 {
    grid-area: a2;
  }
  .a3 {
    grid-area: a3;
  }
  .a4 {
    grid-area: a4;
  }
  .a5 {
    grid-area: a5;
  }
  .a6 {
    grid-area: a6;
    position: relative;
    span {
      position: absolute;
    }
    .left {
      right: 70%;
    }
    .right {
      left: 70%;
    }
    @media (max-width: 520px) {
      span {
        font-size: 2vw;
      }
    }
  }
  .a7 {
    grid-area: a7;
    position: relative;
    span {
      position: absolute;
    }
    .left {
      right: 70%;
    }
    .right {
      left: 70%;
    }
    @media (max-width: 520px) {
      span {
        font-size: 1vw;
        top: 30%;
      }
      .left {
        top: 40%;
        font-size: 0.5rem;
      }
    }
  }
  .a8 {
    transform: rotateX(180deg);
    grid-area: a8;
  }

  .normalBox {
    border: 1px solid white;
    background-color: #000063;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 420px) {
      border-radius: 5px;
    }
  }
  .expandedBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: #000063;
    z-index: 1;
    border: 3px solid white;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 110%;
    border-radius: 10px;
    border: 1px solid red;
  }

  .normalBox4 {
    grid-area: box4;
  }
  .normalBox5 {
    grid-area: box5;
  }
  .normalBox6 {
    grid-area: box6;
  }
  .normalBox7 {
    grid-area: box7;
  }
  .normalBox8 {
    grid-area: box8;
  }

  .box9 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: box9;
    background: linear-gradient(to left, #2082e9 2.1%, #9900ff 80.43%);
    border-radius: 1%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    border-radius: 25px;
  }
  .responsiveImages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 75%;
  }
}
