:root {
  --color: #4973ff;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  position: relative;
  background: #1a1b23;
  color: white;
  height: 90vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hero h2 {
  background: linear-gradient(to right, #2082e9, #9900ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Bai Jamjuree', sans-serif;
  position: relative;
  z-index: 1;
  // margin: 0 0 10px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  font: {
    size: 4rem;
  }
  @media (max-width: 430px) {
    font: {
      size: 3rem;
    }
  }
  @media (max-width: 320px) {
    font: {
      size: 2rem;
    }
  }
}

.hero p {
  color: #1a1b23;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: whitesmoke;
  font-family: 'Bai Jamjuree', sans-serif;
  position: relative;
  z-index: 1;
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 500;
  font: {
    size: 4rem;
  }
  @media (max-width: 430px) {
    font: {
      size: 3rem;
    }
  }
  @media (max-width: 320px) {
    font: {
      size: 2rem;
    }
  }
}

/* ========================= */

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  background-color: var(--color);
  background: linear-gradient(to bottom, #2082e9, #9900ff);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 500ms;
  @media (max-width: 450px) {
    height: 340px;
  }
}

.waves::before,
.waves::after {
  content: '';
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -65vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 54%;
  // background: #2c2e3a;
  background: #1a1b23;
  animation: waves 8s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background: #1a1b23;
  animation: waves 10s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
