.tokenomicsGridContainer {
  height: 100%;
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1.5fr 1.5fr 0.5fr 1fr;
  grid-template-areas:
    'head  head      head       head      .'
    'box1  arrowBox1 arrowBox3  arrowBox3 box8'
    'box2  arrowBox1 box6       box6      arrowBox5'
    'box3  arrowBox2 box6       box6         arrowBox5'
    'box4  arrowBox2 arrowBox4  arrowBox4 box9';
  // row-gap: 1rem;
  gap: 0.25rem;

  .head {
    display: flex;
    justify-content: center;
    grid-area: head;
  }
  .arrowBox1 {
    margin-top: 10px;
    position: relative;
    height: 100%;
    grid-area: arrowBox1;
    .top {
      position: absolute;
      left: 15%;
      top: 15%;
    }
    .bottom {
      position: absolute;
      left: 15%;
      top: 50%;
    }
    @media (max-width: 750px) {
      span {
        font-size: 2vw;
      }
    }
    @media (max-width: 500px) {
      .top {
        top: 10%;
      }
      .bottom {
        top: 40%;
      }
    }
  }
  .arrowBox2 {
    position: relative;
    height: 95%;
    grid-area: arrowBox2;
    .top {
      position: absolute;
      left: 15%;
      top: 25%;
    }
    .bottom {
      position: absolute;
      left: 15%;
      top: 68%;
    }
    @media (max-width: 750px) {
      span {
        font-size: 2vw;
      }
    }
    @media (max-width: 500px) {
      .top {
        top: 20%;
      }
      .bottom {
        top: 55%;
      }
    }
  }
  .arrowBox3 {
    grid-area: arrowBox3;
    position: relative;
    .boxToCenterImage {
      display: flex;
      justify-content: flex-end;
      span {
        position: absolute;
        left: 30%;
        top: 30%;
      }
      @media (max-width: 520px) {
        span {
          font-size: 2vw;
          left: 20%;
        }
      }
      @media (max-width: 320px) {
        span {
          font-size: 2vw;
          left: 15%;
        }
      }
    }
  }
  .arrowBox4 {
    position: relative;
    grid-area: arrowBox4;
    .boxToCenterImage {
      display: flex;
      justify-content: flex-end;
      img {
        -moz-transform: scale(1, -1);
        -webkit-transform: scale(1, -1);
        -o-transform: scale(1, -1);
        -ms-transform: scale(1, -1);
        transform: scale(1, -1);
      }
      span {
        position: absolute;
        left: 35%;
        top: 30%;
      }
      @media (max-width: 520px) {
        span {
          font-size: 2vw;
          left: 25%;
        }
      }
      @media (max-width: 320px) {
        span {
          font-size: 2vw;
          left: 15%;
        }
      }
    }
  }
  .arrowBox5 {
    grid-area: arrowBox5;
  }
  .box1 {
    grid-area: box1;
    border-radius: 15%;
  }
  .box2 {
    grid-area: box2;
    border-radius: 15%;
  }
  .box3 {
    grid-area: box3;
    border-radius: 15%;
  }
  .box4 {
    grid-area: box4;
    border-radius: 15%;
  }
  .box5 {
    grid-area: box5;
  }
  .box6 {
    height: 100%;

    grid-area: box6;
  }

  .box8 {
    grid-area: box8;
  }

  .box9 {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    grid-area: box9;
    border-radius: 15%;
    background: linear-gradient(177.49deg, #2082e9 2.1%, #9900ff 80.43%);
    font-size: 1.5vw;
  }
  .box1,
  .box2,
  .box3,
  .box4 {
    .responsiveImages {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 75%;
      width: 75%;
    }
  }
  .box6 {
    .responsiveImages {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 55%;
      width: 55%;
    }
  }
}

.tokenomicsImageContainer {
  position: relative;
  .flameContainer {
    top: 50px;
    right: 220px;
    position: absolute;
    max-width: 50px;
    max-height: 50px;
  }
}
.normalBox {
  border: 1px solid white;
  border: 1px solid white;
  background-color: #000063;
  border-radius: 10%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expandedBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: #000063;
  z-index: 1;
  border: 3px solid white;
  text-align: center;
  color: white;
  cursor: pointer;
  width: 92%;
  border-radius: 10px;
}
