.teamPageContainer {
  min-height: 80vh;
  margin-top: 3rem;
  .teamPageHeading {
    font-family: 'Bai Jamjuree', sans-serif;
    color: white;
    text-align: center;
  }
  .teamPageContent {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #a7a7a7;
    margin: 1rem 0;
  }
  .teamCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .teamSubContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 100%;

      .imgContainer {
        border-radius: 50%;
      }
      .name {
        font-family: 'Bai Jamjuree', sans-serif;
        color: white;
        margin-top: 0.5rem;
        text-align: center;
      }
      .position {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        margin: 0.2rem 0 1rem 0;
        color: #a7a7a7;
      }
      .socialMediaIcons {
        .social-svg {
          width: 50px;
          height: 50px;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
.teamSubContainer:hover {
  background-color: #2b2733;
  box-shadow: 0 0 5px 1px black;
  border-radius: 23px;
  height: 400px;

  .imgContainer {
    margin: 1.5rem;
    -webkit-box-shadow: 0px -5px 5px 1px #266ac6, 0px 5px 5px 1px #591790;
    box-shadow: 0px -5px 10px 4px #266ac6, 0px 5px 15px 4px #591790;
    transition: all 1s ease;
  }
  transition: all 2s ease;
}
