.featuresPageContainer {
  height: 130vh;
  background-color: #1a1b23;
  .featuresHeading {
    padding-top: 5rem;
    font-family: 'Bai Jamjuree', sans-serif;
    text-transform: capitalize;
    text-align: center;
    color: white;
  }

  .content {
    margin-bottom: 3rem;
    color: #a7a7a7;
    padding: 1rem 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    text-align: center;
  }
}

.featuresSubContainer {
  display: 70vh;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'sb1 sb2'
    'sb3 sb4';
  row-gap: 3rem;
  column-gap: 3rem;

  .subContainer {
    background-color: #1f202b;
    text-align: center;
    height: 200px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px 3px #15161d;
  }
  .sb1 {
    grid-area: sb1;
  }
  .sb2 {
    grid-area: sb2;
  }
  .sb3 {
    grid-area: sb3;
  }
  .sb4 {
    grid-area: sb4;
  }
}
.sbHeading {
  padding-top: 2rem;
  font-family: 'Bai Jamjuree', sans-serif;
  text-transform: capitalize;
  color: white;
}

.sbContent {
  color: #a7a7a7;
  padding: 2rem 3rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
