.roadmapPageContainer {
  padding-top: 5rem;
  height: 95vh;

  .roadmapHeading {
    padding-top: 1rem;
    font-family: 'Bai Jamjuree', sans-serif;
    text-transform: capitalize;
    width: 175px;
    color: white;
  }

  .content {
    color: #a7a7a7;
    padding: 1rem 4rem 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
  }
  .content2 {
    margin-bottom: 3rem;
  }
}
.RoadmapImageContainer {
  max-width: 100%;
}
