.contactPageContainer {
  background-color: #1a1b23;
  height: 60vh;
  .companyLogoName {
    margin: 3rem 1rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heading {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 3rem 1rem;
    text-align: center;
  }
  .content {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    text-align: center;
    color: #b1b2bc;
  }
}
