// $color-primary: #1a1b23;
// $color-primary-light: #b1b2bc;
// $color-primary-dark: #1a1b23;
// $color-white: #b1b2bc;
// $color-black: #191308;

$color-primary: #1a1b23;
$color-primary-light: #b1b2bc;
$color-primary-dark: #1a1b23;
$color-white: white;
// $color-white: linear-gradient(#2c75eb, #9405fe);
// $color-black: #9405fe;
$color-black: black;

.wrapper {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  // background-image: linear-gradient(
  //   to bottom right,
  //   rgba($color-primary, 1),
  //   rgba($color-primary-dark, 1)
  // );
  background-image: $color-primary;
  transition: all 0.4s ease-out;
  .wrapper__links {
    display: flex;
    justify-content: center;
  }

  &__links {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
.wrapper {
  @media (max-width: 321px) {
    height: 70px;
    &__links {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}
.social-link {
  &--linkedin {
    color: black; // dont need these styles
  }

  &--github {
    color: #000; // dont need these styles
  }

  &--instagram {
    color: black; // dont need these styles
  }

  &--dribbble {
    color: black; // dont need these styles
  }

  & .social-svg {
    width: 4.8rem;
    height: 4.8rem;

    & .social-group {
      &__icon {
        // fill: $color-black;
        fill: white;
        transition: all 0.2s;
      }

      &__inner-circle {
        // fill: $color-primary;
        transition: all 0.2s;
      }

      &__outline {
        // stroke: $color-black;
        stroke: $color-primary-dark;
        transform-origin: 50% 50%;
        transition: all 0.2s;
      }
    }

    &:hover,
    &:active,
    &:focus {
      & .social-group {
        &__icon {
          fill: $color-white;
          transition: all 0.45s;
        }

        &__inner-circle {
          // fill: $color-black;
          // fill: #9505fe;
          transition: all 0.45s;
        }

        &__outline {
          stroke: $color-white;
          transform: scale(1.1);
          transition: all 0.45s;
        }
      }
    }
  }
}
.social-link {
  circle {
    color: #9497a5;
    fill: #2b2a35;
  }
}

.social-link:hover {
  .social-group__inner-circle {
    fill: url(#simpleDribble);
  }
}
