$color-primary: #1a1b23;
$color-primary-light: #b1b2bc;
$color-primary-dark: #1a1b23;

$color-white: #b1b2bc;

$color-black: #191308;

.wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(
    to bottom right,
    rgba($color-primary, 1),
    rgba($color-primary-dark, 1)
  );
  transition: all 0.4s ease-out;

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
.wrapper {
  @media (max-width: 321px) {
    height: 70px;
    &__links {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}
.social-link {
  &--linkedin {
    color: black;
    // color: white;
  }

  &--github {
    color: #000;
  }

  &--instagram {
    color: black;
  }

  &--dribbble {
    color: black;
  }

  & .social-svg {
    width: 4.8rem;
    height: 4.8rem;

    & .social-group {
      &__icon {
        fill: $color-black;
        transition: all 0.2s;
      }

      &__inner-circle {
        fill: $color-white;
        transition: all 0.2s;
      }

      &__outline {
        stroke: $color-black;
        transform-origin: 50% 50%;
        transition: all 0.2s;
      }
    }

    &:hover,
    &:active,
    &:focus {
      & .social-group {
        &__icon {
          fill: $color-white;
          transition: all 0.45s;
        }

        &__inner-circle {
          fill: $color-black;
          transition: all 0.45s;
        }

        &__outline {
          stroke: $color-white;
          transform: scale(1.1);
          transition: all 0.45s;
        }
      }
    }
  }
}
